# **Réalisez une étude de santé publique**

#### **Objectif:**
- Faire une étude detaillée sur la sous-nutrition dans le monde.
- Utiliser **Pandas**, une librairie de Python pour manipuler  facilement et analyser les données: les tableaux à       manipuler seront appelés des **DataFrames**

### **Importation de Pandas**

In [1]:
import pandas as pd

### **Importation, vérification, nettoyage et conversion des données de l'étude**

#### **Dataset1: Disponibilité alimentaire**

* Importer le jet de données **Disponibilité alimentaire** sous forme de dataframe

In [2]:
dispo_alimentaire_df = pd.read_csv("donnees FAO/DAN-P4-FAO/dispo_alimentaire.csv")

In [3]:
dispo_alimentaire_df.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

* Vérifier les types de variables et les cellulles non definies NaN

In [4]:
dispo_alimentaire_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           15605 non-null  object
 1   Produit                                                        15605 non-null  object
 2   Origine                                                        15605 non-null  object
 3   Aliments pour animaux                                          2720 non-null   float64
 4   Autres Utilisations                                            5496 non-null   float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 14241 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         14015 non-null  float64
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  11794 non-null  float64
 8   Disponibilité de protéines en quantité (g/personne/jour)       11561 non-null  float64
 9   Disponibilité intérieure                                       15382 non-null  float64
 10  Exportations - Quantité                                        12226 non-null  float64
 11  Importations - Quantité                                        14852 non-null  float64
 12  Nourriture                                                     14015 non-null  float64
 13  Pertes                                                         4278 non-null   float64
 14  Production                                                     9180 non-null   float64
 15  Semences                                                       2091 non-null   float64
 16  Traitement                                                     2292 non-null   float64
 17  Variation de stock                                             6776 non-null   float64
dtypes: float64(15), object(3)
memory usage: 2.1+ MB

* Remplacer toutes les valeurs non définies NaN par 0, sur place

In [5]:
dispo_alimentaire_df.fillna(0, inplace=True)

In [6]:
dispo_alimentaire_df.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0

In [12]:
dispo_animal = dispo_alimentaire_df[dispo_alimentaire_df['Origine']=='animale']

In [14]:
dispo_animal.to_csv('dispo_alim_animal.csv',index=False)

* Convertir les 10 variables qui précisent les utilisations/moyens d’acquisition de la disponibilité alimentaire en **millier de tonnes (= 1 000 000 Kg)**

In [7]:
dispo_alimentaire_df.columns

Index(['Zone', 'Produit', 'Origine', 'Aliments pour animaux',
       'Autres Utilisations', 'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité intérieure', 'Exportations - Quantité',
       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
       'Semences', 'Traitement', 'Variation de stock'],
      dtype='object')

In [8]:
a_convertir = ['Aliments pour animaux','Autres Utilisations', 'Disponibilité intérieure', 'Exportations - Quantité',
       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production', 'Semences', 'Traitement', 'Variation de stock']
for e in a_convertir:
    dispo_alimentaire_df[e] = dispo_alimentaire_df[e] * 1000000

In [9]:
dispo_alimentaire_df.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0

#### **Dataset2: Insécurité alimentaire (sous_nutrition)**

* Importer le jet de données **sous_nutrition** sous forme de dataframe

In [10]:
sous_nutrition_df = pd.read_csv("donnees FAO/DAN-P4-FAO/sous_nutrition.csv")

In [11]:
sous_nutrition_df.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

* Renommer la colonne **Valeur** par **personnes en sous_nutrition**

In [12]:
sous_nutrition_df.rename(columns = {"Valeur" : "Personnes en sous_nutrition"}, inplace=True)

In [13]:
sous_nutrition_df.head()

          Zone      Année Personnes en sous_nutrition
0  Afghanistan  2012-2014                         8.6
1  Afghanistan  2013-2015                         8.8
2  Afghanistan  2014-2016                         8.9
3  Afghanistan  2015-2017                         9.7
4  Afghanistan  2016-2018                        10.5

* Vérifier les types de variables et les cellules non définies NaN

In [14]:
sous_nutrition_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Zone                         1218 non-null   object
 1   Année                        1218 non-null   object
 2   Personnes en sous_nutrition  624 non-null    object
dtypes: object(3)
memory usage: 28.7+ KB

In [15]:
sous_nutrition_df.describe()

              Zone      Année Personnes en sous_nutrition
count         1218       1218                         624
unique         203          6                         139
top     Porto Rico  2017-2019                        <0.1
freq             6        203                         120


*Pour effectuer les opérations sur le data frame, le type de données de la colonne* ***Personnes en sous_nutriton*** *doit être converti en* ***float*** *et remplacer les variables* **"<0.1"** *contenu dans les cellules.*

* Remplacer les variables **"<0.1"** par **"0"**

In [16]:
sous_nutrition_df["Personnes en sous_nutrition"] = sous_nutrition_df["Personnes en sous_nutrition"].str.replace("<0.1", "0")

* Caster les variables **object** en **float**

In [17]:
sous_nutrition_df["Personnes en sous_nutrition"] = sous_nutrition_df["Personnes en sous_nutrition"].astype(float)

* Vérifier les types de variables après le cast

In [18]:
sous_nutrition_df.dtypes

Zone                            object
Année                           object
Personnes en sous_nutrition    float64
dtype: object

In [19]:
sous_nutrition_df.head()

          Zone      Année  Personnes en sous_nutrition
0  Afghanistan  2012-2014                          8.6
1  Afghanistan  2013-2015                          8.8
2  Afghanistan  2014-2016                          8.9
3  Afghanistan  2015-2017                          9.7
4  Afghanistan  2016-2018                         10.5

* Verifier toutes les cellules des variables non définies NaN

In [20]:
sous_nutrition_df.isnull().sum()

Zone                             0
Année                            0
Personnes en sous_nutrition    594
dtype: int64

* Remplacer toutes les variables NaN par 0, sur place

In [21]:
sous_nutrition_df.fillna(0, inplace=True)

* Convertir les variables de la colonne **Personnes en sous_nutrition** en **millions (1 000 000)** d'habitants

In [22]:
sous_nutrition_df["Personnes en sous_nutrition"] = sous_nutrition_df["Personnes en sous_nutrition"] * 1000000

In [23]:
sous_nutrition_df.head()

          Zone      Année  Personnes en sous_nutrition
0  Afghanistan  2012-2014                    8600000.0
1  Afghanistan  2013-2015                    8800000.0
2  Afghanistan  2014-2016                    8900000.0
3  Afghanistan  2015-2017                    9700000.0
4  Afghanistan  2016-2018                   10500000.0

#### **Dataset3: Population**

* Importer le jet de données **Population** sous forme de dataframe

In [24]:
population_df = pd.read_csv("donnees FAO/DAN-P4-FAO/population.csv")

In [25]:
population_df.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

* Renommer la colonne **Valeur** par **Population**, sur place

In [26]:
population_df.rename(columns = {"Valeur":"Population"}, inplace=True)

In [27]:
population_df.head()

          Zone  Année  Population
0  Afghanistan   2013   32269.589
1  Afghanistan   2014   33370.794
2  Afghanistan   2015   34413.603
3  Afghanistan   2016   35383.032
4  Afghanistan   2017   36296.113

In [28]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Zone        1416 non-null   object
 1   Année       1416 non-null   int64
 2   Population  1416 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.3+ KB

* Vérifier les types de variables: RAS

In [29]:
population_df.dtypes

Zone           object
Année           int64
Population    float64
dtype: object

* Convertir les variables de la colonne **Population** en **milliers(1000)** d'habitants

In [30]:
population_df["Population"] = population_df["Population"]*1000

In [31]:
population_df.head()

          Zone  Année  Population
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

* Vérifier toutes les cellules des variables non défines NaN: RAS

In [32]:
population_df.isnull().sum()

Zone          0
Année         0
Population    0
dtype: int64



#### **Dataset4: Aide alimentaire**

* Importer le jet de données **Aide alimentaire** sous forme de dataframe

In [33]:
aide_alimentaire_df = pd.read_csv("donnees FAO/DAN-P4-FAO/aide_alimentaire.csv")

In [34]:
aide_alimentaire_df.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

* Renommer les colonnes **Pays bénéficiaire** et **Valeur** respectivement en **Zone** et **Aide_quantité**, sur place

In [35]:
aide_alimentaire_df.rename(columns = {"Pays bénéficiaire":"Zone", "Valeur":"Aide-quantité"}, inplace=True)

In [36]:
aide_alimentaire_df.head()

          Zone  Année              Produit  Aide-quantité
0  Afghanistan   2013  Autres non-céréales            682
1  Afghanistan   2014  Autres non-céréales            335
2  Afghanistan   2013         Blé et Farin          39224
3  Afghanistan   2014         Blé et Farin          15160
4  Afghanistan   2013             Céréales          40504

* Vérifier les types de variables: RAS

In [37]:
aide_alimentaire_df.dtypes

Zone             object
Année             int64
Produit          object
Aide-quantité     int64
dtype: object

* Vérifer toutes les cellules des valeurs non définies NaN: RAS

In [38]:
aide_alimentaire_df.isnull().sum()

Zone             0
Année            0
Produit          0
Aide-quantité    0
dtype: int64

* Convertir la colonne **Aide-quantité** en **tonnes (=1000 Kg)**

In [39]:
aide_alimentaire_df["Aide-quantité"] = aide_alimentaire_df["Aide-quantité"] * 1000

In [40]:
aide_alimentaire_df.head()

          Zone  Année              Produit  Aide-quantité
0  Afghanistan   2013  Autres non-céréales         682000
1  Afghanistan   2014  Autres non-céréales         335000
2  Afghanistan   2013         Blé et Farin       39224000
3  Afghanistan   2014         Blé et Farin       15160000
4  Afghanistan   2013             Céréales       40504000

## **Analyse des données**

### **Les informations demandées pour l'année 2017**

### * La proportion de personnes en état de sous-nutrition

Le calcul de la proportion est égale au nombre total des personnes en état de sous-nutrition divisé par la population mondiale.
Pour effectuer ce calcul nous allons associer les dataframes **sous_nutrition** et **population**, après la sélection des données de l'année 2017.

* Selectionner les données de l'année **2017** des dataframes **sous_nutrition** et **population**

In [41]:
sous_nutrition_filter_df = sous_nutrition_df[sous_nutrition_df["Année"]=="2016-2018"]

In [42]:
sous_nutrition_filter_df.head()

              Zone      Année  Personnes en sous_nutrition
4      Afghanistan  2016-2018                   10500000.0
10  Afrique du Sud  2016-2018                    3100000.0
16         Albanie  2016-2018                     100000.0
22         Algérie  2016-2018                    1300000.0
28       Allemagne  2016-2018                          0.0

In [43]:
population_filter_df = population_df[population_df["Année"]==2017]

In [44]:
population_filter_df.head()

              Zone  Année  Population
4      Afghanistan   2017  36296113.0
10  Afrique du Sud   2017  57009756.0
16         Albanie   2017   2884169.0
22         Algérie   2017  41389189.0
28       Allemagne   2017  82658409.0

* Faire une jointure des dataframes **sous_nutrition** et **population** à partir de la propriété **Zone**

In [107]:
personnes_sous_nutrition_df = population_filter_df.merge(sous_nutrition_filter_df[["Zone","Personnes en sous_nutrition"]], on="Zone")

In [108]:
personnes_sous_nutrition_df.head()

             Zone  Année  Population  Personnes en sous_nutrition
0     Afghanistan   2017  36296113.0                   10500000.0
1  Afrique du Sud   2017  57009756.0                    3100000.0
2         Albanie   2017   2884169.0                     100000.0
3         Algérie   2017  41389189.0                    1300000.0
4       Allemagne   2017  82658409.0                          0.0

* Calcul de la proportion des personnes en sous-nutrition

In [47]:
proportion_personnes_sous_nutrition_df = personnes_sous_nutrition_df["Personnes en sous_nutrition"].sum() / personnes_sous_nutrition_df["Population"].sum() * 100
proportion_personnes_sous_nutrition_df

7.1011968332354165

In [48]:
proportion_personnes_sous_nutrition_df.round(2)

7.1

In [49]:
print(f" La proportion des personnes en état de sous-nutrition dans le monde pour l'année 2017 est de: {proportion_personnes_sous_nutrition_df.round(2)} %")

 La proportion des personnes en état de sous-nutrition dans le monde pour l'année 2017 est de: 7.1 %

### * Le nombre théorique de personnes qui pourraient être nourries. Tu devrais pouvoir calculer ça à partir de la disponibilité alimentaire mondiale

Le nombre de personnes en sous-nutrition est égal à la disponibilité alimentaire mondiale en Kcal divisé par la valeur énergétique moyenne d'une personne sur un an. 
Pour répondre à cette question nous avons besoin de 2 datasets: disponibilité alimentaire et population.

* Calcul de la disponibilité alimentaire mondiale en Kcal par an

Faire la jointure des data frames **dispo_alimentaire** et **population** à partir de la propriété **Zone**

In [50]:
dispo_alimentaire_population_df = dispo_alimentaire_df.merge(population_filter_df, on="Zone")

In [51]:
dispo_alimentaire_population_df.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Population
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0,2017,36296113.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0,2017,36296113.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0

In [52]:
dispo_alimentaire_population_df["dispo_alimentaire_Kcal"] = dispo_alimentaire_population_df["Disponibilité alimentaire (Kcal/personne/jour)"] * dispo_alimentaire_population_df["Population"]*365

In [53]:
dispo_alimentaire_mondiale_Kcal_df = dispo_alimentaire_population_df["dispo_alimentaire_Kcal"].sum()
print(f"La disponibilité alimentaire énergétique en Kcal mondiale est de:")
dispo_alimentaire_mondiale_Kcal_df

La disponibilité alimentaire énergétique en Kcal mondiale est de:

7635429388975815.0

Dépenses énergétiques:
Entre le métabolisme de base et les dépenses énergétiques liées à l’activité, les apports journaliers conseillés en énergie pour un adulte âgé de 20 à 40 ans sont, selon l’Afssa, de 2 200 kcal pour une femme et de 2 700 kcal pour un homme.
Toutefois, ces chiffres sont donnés à titre indicatif. Certains spécialistes les font varier selon l’intensité des activités pratiquées. 
Dans notre cas nous allons utiliser **2500 Kcal** comme valeur energetique moyenne correspondant à une personne.

* Calcul du nombre théorique de personnes en sous-nutrition

In [54]:
personnes_nourries_sous_nutrition = dispo_alimentaire_mondiale_Kcal_df/(2500*365)

In [55]:
personnes_nourries_sous_nutrition.round()

8367593851.0

In [56]:
print(f"Le nombre théorique de personnes qui pourraient être nourries pour la dismonibilité alimentaire mondiale est de: {personnes_nourries_sous_nutrition.round()} personnes")

Le nombre théorique de personnes qui pourraient être nourries pour la dismonibilité alimentaire mondiale est de: 8367593851.0 personnes

### * Idem pour la disponibilité alimentaire des produits végétaux

La méthode de calcul est la même que celle précedente. 
Pour déterminer la disponibilité alimentaire des produits végétaux nous allons faire la selection des produits végétaux à partir du data frame **dispo_alimentaire_population_df** obtenu après la jointure des data frames disponilité alimentaire et population.

* Sélectionner les produits d'origine alimentaire à partir du data frame **dispo_alimentaire_population_df**

In [57]:
dispo_alimentaire__vegetale_population_df = dispo_alimentaire_population_df[dispo_alimentaire_population_df["Origine"]=="vegetale"]

In [58]:
dispo_alimentaire__vegetale_population_df.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Population,dispo_alimentaire_Kcal
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,...,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0,2017,36296113.0,1.324808e+10
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,...,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,1.324808e+10
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,0.000000e+00
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,...,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,5.299232e+10
6,Afghanistan,Bière,vegetale,0.0,0.0,0.0,0.09,0.00,0.00,3000000.0,...,3000000.0,3000000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,0.000000e+00

* Calcul de la disponibilité alimentaire des produits végétaux en Kcal par an

In [59]:
dispo_alimentaire__vegetale_totale_population_Kcal_df = dispo_alimentaire__vegetale_population_df["dispo_alimentaire_Kcal"].sum()
print(f"La disponibilité alimentaire totale des produits végétaux en Kcal est de:")
dispo_alimentaire__vegetale_totale_population_Kcal_df

La disponibilité alimentaire totale des produits végétaux en Kcal est de:

6300178937197865.0

* Calcul du nombre de personnes

Dépenses énergétiques:
Entre le métabolisme de base et les dépenses énergétiques liées à l’activité, les apports journaliers conseillés en énergie pour un adulte âgé de 20 à 40 ans sont, selon l’Afssa, de 2 200 kcal pour une femme et de 2 700 kcal pour un homme.
Toutefois, ces chiffres sont donnés à titre indicatif. Certains spécialistes les font varier selon l’intensité des activités pratiquées. 
Dans notre cas nous allons utiliser **2500 Kcal** comme valeur energetique moyenne correspondant à une personne.

In [60]:
personnes_nourries_sous_nutrition_vegetale = dispo_alimentaire__vegetale_totale_population_Kcal_df/(2500*365)
personnes_nourries_sous_nutrition_vegetale.round()

6904305685.0

In [61]:
print(f"Le nombre théorique de personnes qui pourraient être nourries pour la disponibilité alimentaire des produits végétaux est de:{personnes_nourries_sous_nutrition_vegetale.round()} personnes")

Le nombre théorique de personnes qui pourraient être nourries pour la disponibilité alimentaire des produits végétaux est de:6904305685.0 personnes

### * L’utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine. Je crois que Julien avait trouvé un moyen de facilement calculer ces proportions.

La disponibilité intérieure constitue le premier pilier de la sécurité alimentaire. Les approvisionnements
de la disponibilité d’un pays proviennent généralement de la production nationale et des importations,
et parfois des stocks. La disponibilité intérieure désigne la quantité de produits disponible pour les
utilisations intérieures. Elle est calculée comme suit :

**Disponibilité intérieure = Production + Importation – Exportation + ΔStocks**

**Disponibilité interieure = **Alimentation humaine +Transformation alimentaire + Alimentation animale + 
                           Semences + Alimentation pour les touristes + Usage industriel + Pertes + 
                           Utilisation résiduelle**

*sources: les « Directives pour l’élaboration des bilans alimentaires », éditée par la FAO, en décembre 2017*

In [62]:
dispo_alimentaire_df.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0

* Vérifions le calcul des disponibilités intérieures selon la méthode de Julien

* Calcul de la disponibilité intérieure1

disponibilité intérieure1 = disponibilité totale

In [63]:
dispo_interieure1 = dispo_alimentaire_df["Disponibilité intérieure"].sum()
print(f"La disponibilité intérieure1 est de:")
dispo_interieure1

La disponibilité intérieure1 est de:

9848994000000.0

* Calcul de la disponibilité intérieure2

disponibilité intérieure2 = production + importations - exportations + variation de stocks

In [64]:
dispo_interieure2 = (dispo_alimentaire_df["Production"] + dispo_alimentaire_df["Importations - Quantité"] - dispo_alimentaire_df["Exportations - Quantité"] + dispo_alimentaire_df["Variation de stock"]).sum()
print(f"La disponibilité intérieure2 est de:")
dispo_interieure2

La disponibilité intérieure2 est de:

9849173000000.0

* Calcul de la disponibilité intérieure3

disponibilité intérieure3 = nourriture + pertes + alimentation bétail + semences + autres utilisations + traitements

In [65]:
dispo_interieure3 = dispo_alimentaire_df["Nourriture"].sum() + dispo_alimentaire_df["Pertes"].sum() + dispo_alimentaire_df["Aliments pour animaux"].sum() + dispo_alimentaire_df["Semences"].sum() + dispo_alimentaire_df["Autres Utilisations"].sum() + dispo_alimentaire_df["Traitement"].sum()
print(f"La disponibilité intérieure3 est de:")
dispo_interieure3

La disponibilité intérieure3 est de:

9858592000000.0

* Calcul des proportions des disponibilités attribuées à l'alimentaiton animale, humaine et celle qui est perdue

La proportion est égale disponibilité intérieure attribuée un type d'alimentation en relation avec la disponibilité totale

* Calcul de la proportion de la disponibilité intérieure attribuée à l'alimentation animale

In [66]:
proportion_dispo_interieure_animale = dispo_alimentaire_df["Aliments pour animaux"].sum() / dispo_interieure1*100
proportion_dispo_interieure_animale.round(2)

13.24

In [67]:
print(f"La proportion de la disponibilité intérieure attribuée à l'alimentation animale est de: {proportion_dispo_interieure_animale.round(2)} %")

La proportion de la disponibilité intérieure attribuée à l'alimentation animale est de: 13.24 %

* Calcul de la proportion de la disponibilité intérieure perdue

In [68]:
proportion_dispo_interieure_perdue = dispo_alimentaire_df["Pertes"].sum() / dispo_interieure1*100
proportion_dispo_interieure_perdue.round(2)

4.61

In [69]:
print(f"La disponibilité intérieure perdue est de: {proportion_dispo_interieure_perdue.round(2)} %")

La disponibilité intérieure perdue est de: 4.61 %

* Calcul de la proportion de la disponibilité intérieure attribuée à l'alimentation humaine

In [70]:
proportion_dispo_interieure_nourriture = dispo_alimentaire_df["Nourriture"].sum() / dispo_interieure1*100
proportion_dispo_interieure_nourriture.round(2)

49.51

In [71]:
print(f"La disponibilité intérieure attribuée à la nourriture est de: {proportion_dispo_interieure_nourriture.round(2)} %")

La disponibilité intérieure attribuée à la nourriture est de: 49.51 %

### **Melanie: Je souhaiterais avoir une étude un peu plus fine pour chacun des pays. Par exemple, j’aimerais que tu puisses nous donner les pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017, ceux qui ont le plus bénéficié d’aide depuis 2013, ceux ayant le plus/le moins de disponibilité/habitant, etc., et toutes les infos que tu trouverais utiles pour mettre en relief les pays qui semblent être le plus en difficulté, au niveau alimentaire.**

#### Calcul de la proportion des personnes sous-alimentées en 2017 dans chacun des pays

Pour le calcul de la proportion nous allons utiliser le dataframe **personnes_sous_nutriton_df** obtenu précedemment après la jointure des dataframes **sous_nutriton_df** et **population_df** pour l'année 2017

* Calculons la proportion des personnes sous alimentées

In [72]:
personnes_sous_nutrition_df["Proportion"] = personnes_sous_nutrition_df["Personnes en sous_nutrition"] / personnes_sous_nutrition_df["Population"]*100

* Determiner les pays pour lesquels la proportion des personnes sous-alimentées est la plus forte

Reangeons par ordre decroissant la proportion de chacun des pays

In [73]:
personnes_sous_nutrition_df = personnes_sous_nutrition_df[["Zone", "Proportion"]].sort_values(by="Proportion", ascending=False)

In [74]:
print(f"Voici la liste des top 10 des pays qui ont la plus forte proportion de personnes en nous-nutrition en 2017")
personnes_sous_nutrition_df.head(10)

Voici la liste des top 10 des pays qui ont la plus forte proportion de personnes en nous-nutrition en 2017

                                           Zone  Proportion
78                                        Haïti   48.259182
157  République populaire démocratique de Corée   47.188685
108                                  Madagascar   41.062924
103                                     Libéria   38.279742
100                                     Lesotho   38.249438
183                                       Tchad   37.957606
161                                      Rwanda   35.055619
121                                  Mozambique   32.810898
186                                 Timor-Leste   32.173531
0                                   Afghanistan   28.928718

#### Calcul de la proportion des pays qui ont bénéficié d'aide depuis 2013

Pour le calcul de la proportion des pays bénéficiant d'aide alimentaire, nous avons beasoin des datasets concernant l'**aide alimentaire** et la **population**

In [75]:
aide_alimentaire_df.head()

          Zone  Année              Produit  Aide-quantité
0  Afghanistan   2013  Autres non-céréales         682000
1  Afghanistan   2014  Autres non-céréales         335000
2  Afghanistan   2013         Blé et Farin       39224000
3  Afghanistan   2014         Blé et Farin       15160000
4  Afghanistan   2013             Céréales       40504000

In [76]:
population_df.head()

          Zone  Année  Population
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

* Faire la jointure des data frames **aide_alimentaire_df** et **population_df** à partir des propriétés **Zone** et **Année**

In [77]:
population_aide_alimentaire_df = aide_alimentaire_df.merge(population_df, on=["Zone","Année"])

In [78]:
population_aide_alimentaire_df.head()

          Zone  Année              Produit  Aide-quantité  Population
0  Afghanistan   2013  Autres non-céréales         682000  32269589.0
1  Afghanistan   2013         Blé et Farin       39224000  32269589.0
2  Afghanistan   2013             Céréales       40504000  32269589.0
3  Afghanistan   2013   Fruits secs, total          85000  32269589.0
4  Afghanistan   2013     Huiles végétales       11087000  32269589.0

In [79]:
print(f"Le top 10 des pays qui ont bénéficié d'aide alimentaire depuis 2013 et pour lesquels la proportion est la plus forte sont:")
aide_df = population_aide_alimentaire_df[["Zone", "Aide-quantité"]].groupby("Zone").sum()
aide_df.sort_values(by="Aide-quantité", ascending=False).head(10)

Le top 10 des pays qui ont bénéficié d'aide alimentaire depuis 2013 et pour lesquels la proportion est la plus forte sont:

                                  Aide-quantité
Zone
République arabe syrienne            1858943000
Éthiopie                             1381294000
Yémen                                1206484000
Soudan du Sud                         695248000
Soudan                                669784000
Kenya                                 552836000
Bangladesh                            348188000
Somalie                               292678000
République démocratique du Congo      288502000
Niger                                 276344000

#### Les pays qui ont le plus/le moins de disponibilité/habitant

In [80]:
dispo_alimentaire_df.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0

* Déterminons les pays qui ont le moins de disponibilité alimentaire en Kcal par personne

Regroupons par ordre croissant la disponibilité alimentaire en Kcal par pays

In [81]:
dispo_alimentaire_Kcal_par_personne_df = dispo_alimentaire_df[["Disponibilité alimentaire (Kcal/personne/jour)","Zone"]].groupby("Zone").sum().sort_values(by="Disponibilité alimentaire (Kcal/personne/jour)", ascending=True)

In [82]:
print(f"Le top 10 des pays qui ont le moins de disponibilité alimentaire en Kcal par personne sont:")
dispo_alimentaire_Kcal_par_personne_df.head(10)

Le top 10 des pays qui ont le moins de disponibilité alimentaire en Kcal par personne sont:

                                            Disponibilité alimentaire (Kcal/personne/jour)
Zone
République centrafricaine                                                           1879.0
Zambie                                                                              1924.0
Madagascar                                                                          2056.0
Afghanistan                                                                         2087.0
Haïti                                                                               2089.0
République populaire démocratique de Corée                                          2093.0
Tchad                                                                               2109.0
Zimbabwe                                                                            2113.0
Ouganda                                                                             2126.0
Timor-Leste                                                                         2129.0

* Determinons les pays qui ont le moins de disponibilité alimentaire en Kg par personne

In [83]:
dispo_alimentaire_Kg_par_personne_df = dispo_alimentaire_df[["Disponibilité alimentaire en quantité (kg/personne/an)", "Zone"]].groupby("Zone").sum().sort_values(by="Disponibilité alimentaire en quantité (kg/personne/an)", ascending=True)

In [84]:
print(f"Le top 10 des pays qui ont le moins de disponibilité alimentaire en Kg par personne sont de:")
dispo_alimentaire_Kg_par_personne_df.head(10)

Le top 10 des pays qui ont le moins de disponibilité alimentaire en Kg par personne sont de:

               Disponibilité alimentaire en quantité (kg/personne/an)
Zone
Tchad                                                     319.45
Zimbabwe                                                  336.59
Zambie                                                    350.12
Afghanistan                                               351.41
Éthiopie                                                  354.55
Guinée-Bissau                                             358.48
Bangladesh                                                364.54
Timor-Leste                                               369.10
Yémen                                                     375.41
Sénégal                                                   376.72

* Determinons les pays qui ont le moins de disponibilité de matière grasse en quantitié

In [85]:
dispo_alimentaire_matière_grasse_par_personne_df = dispo_alimentaire_df[["Disponibilité de matière grasse en quantité (g/personne/jour)", "Zone"]].groupby("Zone").sum().sort_values(by="Disponibilité de matière grasse en quantité (g/personne/jour)", ascending=True)

In [86]:
print(f"Le top 10 des pays qui ont le moins de disponibilité de matière grasse en quantité est de:")
dispo_alimentaire_matière_grasse_par_personne_df.head(10)

Le top 10 des pays qui ont le moins de disponibilité de matière grasse en quantité est de:

                                            Disponibilité de matière grasse en quantité (g/personne/jour)
Zone
Rwanda                                                                                  23.77
Madagascar                                                                              24.49
Éthiopie                                                                                25.89
Bangladesh                                                                              29.92
Lesotho                                                                                 32.26
Afghanistan                                                                             33.50
Cambodge                                                                                35.93
République populaire démocratique de Corée                                              36.41
République démocratique populaire lao                                                   38.86
Malawi                                                                                  41.17

* Determinons les pays qui ont moins de disponibilité de protéine en quantité

Les besoins en protéines sont de 44 g par jour pour une femme de 55 kilos et 75 g par jour pour un homme de 75 kilos. Nous choisirons une valeur intervalle comprise entre 40 et 60 g par personne.

In [87]:
dispo_alimentaire_protéine_par_personne_df = dispo_alimentaire_df[["Disponibilité de protéines en quantité (g/personne/jour)", "Zone"]].groupby("Zone").sum().sort_values(by="Disponibilité de protéines en quantité (g/personne/jour)", ascending=True)

In [88]:
print(f"Le top 10 des pays qui ont moins de disponibilité de protéine en quantité est de:")
dispo_alimentaire_protéine_par_personne_df.head(10)

Le top 10 des pays qui ont moins de disponibilité de protéine en quantité est de:

                           Disponibilité de protéines en quantité (g/personne/jour)
Zone
Libéria                                                                37.66
Guinée-Bissau                                                          44.05
Mozambique                                                             45.68
République centrafricaine                                              46.04
Madagascar                                                             46.69
Haïti                                                                  47.70
Zimbabwe                                                               48.32
Congo                                                                  51.41
Ouganda                                                                52.64
Sao Tomé-et-Principe                                                   53.10

La liste des céréales dans Bilans alimentaires de la FAO est:

In [89]:
list_cereales = ["Avoine",  "Blé et produits",  "Céréales, Autres",  "Maïs et produits",  "Millet et produits",  "Orge et produits",  "Riz et produits",  "Seigle et produits",  "Sorgho et produits"]

Recherchons cette liste de céréales dans le jeu de données de la **disponibilité alimentaire**

In [90]:
cereales_df = dispo_alimentaire_df.loc[dispo_alimentaire_df["Produit"].isin(list_cereales),:]

In [91]:
print(cereales_df.shape)
cereales_df.head()

(339, 18)

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
12,Afghanistan,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67,Afrique du Sud,Avoine,vegetale,8000000.0,0.0,5.0,0.75,0.09,0.16,49000000.0,4000000.0,25000000.0,40000000.0,1000000.0,28000000.0,1000000.0,0.0,0.0
81,Afrique du Sud,"Céréales, Autres",vegetale,8000000.0,0.0,1.0,0.07,0.00,0.02,12000000.0,10000000.0,3000000.0,4000000.0,0.0,19000000.0,0.0,0.0,0.0
162,Albanie,Avoine,vegetale,25000000.0,0.0,1.0,0.13,0.01,0.03,28000000.0,0.0,1000000.0,0.0,1000000.0,27000000.0,1000000.0,0.0,0.0
176,Albanie,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.08,0.00,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

* Calcul de la disponibilité totale des céréales

In [92]:
dispo_totale_cereales = cereales_df["Disponibilité intérieure"].sum()
print(f"La disponibilité totale des céréales est de:")
dispo_totale_cereales

La disponibilité totale des céréales est de:

50892000000.0

* Calcul de la proportion de la disponibilté alimentaire des céréales destinées à l'alimentation animale

In [93]:
proportion_dispo_cereales_animale = cereales_df["Aliments pour animaux"].sum()/dispo_totale_cereales*100
proportion_dispo_cereales_animale.round(2)

69.34

In [94]:
print(f"La proportion de la disponibilité alimentaire des céréales destinés à l'alimentation animale est de:{proportion_dispo_cereales_animale.round(2)}%")

La proportion de la disponibilité alimentaire des céréales destinés à l'alimentation animale est de:69.34%

* Calcul de la proportion de la disponibilité alimentaire des céréales destinée à la nourriture

In [95]:
proportion_dispo_cereales_nourriture = cereales_df["Nourriture"].sum()/dispo_totale_cereales*100
proportion_dispo_cereales_nourriture.round(2)

18.13

In [96]:
print(f"La disponibilité alimentaire des céréales destinées à la nourriture est de:{proportion_dispo_cereales_nourriture.round(2)}%")

La disponibilité alimentaire des céréales destinées à la nourriture est de:18.13%

* Calcul de la proportion des personnes sous-alimentées en Thaïlande

In [109]:
personnes_sous_nutrition_df.head()

             Zone  Année  Population  Personnes en sous_nutrition
0     Afghanistan   2017  36296113.0                   10500000.0
1  Afrique du Sud   2017  57009756.0                    3100000.0
2         Albanie   2017   2884169.0                     100000.0
3         Algérie   2017  41389189.0                    1300000.0
4       Allemagne   2017  82658409.0                          0.0

In [110]:
Tahilande_df = personnes_sous_nutrition_df.loc[personnes_sous_nutrition_df["Zone"]=="Thaïlande",:]

In [111]:
Tahilande_df.head()

          Zone  Année  Population  Personnes en sous_nutrition
185  Thaïlande   2017  69209810.0                    6200000.0

In [112]:
proportion_personnes_Thailande = Tahilande_df["Personnes en sous_nutrition"].sum()/Tahilande_df["Population"].sum()*100
proportion_personnes_Thailande.round(2)

8.96

In [113]:
print(f"La proportion des personnes sous-alimentées en Thaïlande est de: {proportion_personnes_Thailande.round(2)}%")

La proportion des personnes sous-alimentées en Thaïlande est de: 8.96%

* Calcul de la part des exportations du manioc en Thaïlande

In [114]:
thai_manioc_df = dispo_alimentaire_df[(dispo_alimentaire_df["Produit"]=="Manioc")&(dispo_alimentaire_df["Zone"]=="Thaïlande")]

In [115]:
proportion_exportations_Thailande = thai_manioc_df["Exportations - Quantité"].sum()/thai_manioc_df["Production"].sum()*100
proportion_exportations_Thailande.round(2)

83.41

In [117]:
print(f"La part des exportations du manioc en Thaïlande est de: {proportion_exportations_Thailande.round(2)}%")

La part des exportations du manioc en Thaïlande est de: 83.41%